{% extends "base.html" %}

{% block title %}
Add Book - Library Management System
{% endblock %}

{% block content %}

<h1>➕ Add New Book</h1>

<form method="POST">

    <p>
        <label>Title</label><br>

        <input
            type="text"
            name="title"
            required
            maxlength="255"
            placeholder="Enter book title"
        >
    </p>

    <p>
        <label>Author</label><br>

        <input
            type="text"
            name="author"
            required
            maxlength="255"
            placeholder="Enter author name"
        >
    </p>

    <p>
        <label>Genre</label><br>
        <input type="text" name="genre">
    </p>

    <p>
        <label>Published Year</label><br>

        <input
            type="number"
            name="published_year"
            min="0"
            max="2100"
            placeholder="Example: 2020"
        >
    </p>

    <button type="submit" class="btn">
        Add Book
    </button>

    <a href="{{ url_for('books') }}" class="btn">
        Cancel
    </a>

</form>

{% endblock %}